node-red/flows.json
[{"id":"380791a33554d66c","type":"tab","label":"Hallway Utility","disabled":false,"info":"","env":[]},{"id":"2679ab70efbd1e8d","type":"tab","label":"Kitchen & Living Room","disabled":false,"info":"","env":[]},{"id":"6a820c3c90839117","type":"tab","label":"Bedroom & Bathroom","disabled":false,"info":"","env":[]},{"id":"8046763851194189","type":"tab","label":"Home Mode","disabled":false,"info":"","env":[]},{"id":"2a713bb46c924fff","type":"tab","label":"OFFICE","disabled":false,"info":"","env":[]},{"id":"1f04fadd7ecc56e6","type":"tab","label":"Album Art","disabled":false,"info":"","env":[]},{"id":"00b5544a83da2aa2","type":"tab","label":"Shelly i4","disabled":false,"info":"","env":[]},{"id":"c5a5a52fe11d0c9e","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"ce64fcf0d0091d1f","type":"subflow","name":"i4 wifi","info":"","category":"","in":[{"x":40,"y":580,"wires":[{"id":"119e9a66e68e89c7"}]}],"out":[{"x":730,"y":50,"wires":[{"id":"e6d04b745f39a221","port":0}]},{"x":730,"y":100,"wires":[{"id":"e6d04b745f39a221","port":1}]},{"x":720,"y":160,"wires":[{"id":"e6d04b745f39a221","port":2}]},{"x":720,"y":210,"wires":[{"id":"e6d04b745f39a221","port":3}]},{"x":720,"y":270,"wires":[{"id":"e6d04b745f39a221","port":4}]},{"x":690,"y":590,"wires":[{"id":"29a4a3f6425d9fe7","port":0}]},{"x":690,"y":640,"wires":[{"id":"29a4a3f6425d9fe7","port":1}]},{"x":680,"y":690,"wires":[{"id":"29a4a3f6425d9fe7","port":2}]},{"x":680,"y":740,"wires":[{"id":"29a4a3f6425d9fe7","port":3}]},{"x":680,"y":790,"wires":[{"id":"29a4a3f6425d9fe7","port":4}]},{"x":990,"y":350,"wires":[{"id":"c40bd21b228ccd4d","port":0}]},{"x":990,"y":400,"wires":[{"id":"c40bd21b228ccd4d","port":1}]},{"x":980,"y":450,"wires":[{"id":"c40bd21b228ccd4d","port":2}]},{"x":980,"y":500,"wires":[{"id":"c40bd21b228ccd4d","port":3}]},{"x":980,"y":550,"wires":[{"id":"c40bd21b228ccd4d","port":4}]},{"x":690,"y":960,"wires":[{"id":"bd50da4423b0119e","port":0}]},{"x":690,"y":1010,"wires":[{"id":"bd50da4423b0119e","port":1}]},{"x":680,"y":1060,"wires":[{"id":"bd50da4423b0119e","port":2}]},{"x":680,"y":1120,"wires":[{"id":"bd50da4423b0119e","port":3}]},{"x":680,"y":1170,"wires":[{"id":"bd50da4423b0119e","port":4}]}],"env":[],"meta":{},"color":"#3FADB5","outputLabels":["Button 1 Pressed","Button 1 Released","Button 1 Single","Button 1 Double","Button 1 Long","Button 2 Pressed","Button 2 Released","Button 2 Single","Button 2 Double","Button 2 Long","Button 3 Pressed","Button 3 Released","Button 3 Single","Button 3 Double","Button 3 Long","Button 4 Pressed","Button 4 Released","Button 4 Single","Button 4 Double","Button 4 Long"]},{"id":"c7be6c791180933c","type":"group","z":"2a713bb46c924fff","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4169fa0492a0ab97","fe901a264e1b91dd","77ac38a86d56e595","aa3a4acbbc029bdf","c9020edeae447c95","9f08770d47530909","4cc176982b4b1d7e","fd7a66a893f190c5","026a1b1227c51837","6be758496fec550c","e105d334fa5d89ff","59d5361dd52c51f9","51004fc9da9cd7c0","e401c025f7b240f3","184e0a5e549e0d11","988fd0e9963773a7","7e9b6f891822d231","ef1be4806dfbb5bc","5eb0a9b180d8759c"],"x":34,"y":709},{"id":"b7acd042.10f4c","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"dfb12e11b7a6e846","type":"ha-entity-config","server":"b7acd042.10f4c","deviceConfig":"","name":"Vibrant Color","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Vibrant Color"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"3e58f341fe905599","type":"ha-entity-config","server":"b7acd042.10f4c","deviceConfig":"","name":"Dark Vibrant Color","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Dark Vibrant Color"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"70d8791a24738ee6","type":"ha-entity-config","server":"b7acd042.10f4c","deviceConfig":"","name":"Light Vibrant Color","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Light Vibrant Color"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"be0a1e0059e1713e","type":"ha-entity-config","server":"b7acd042.10f4c","deviceConfig":"","name":"Muted Color","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Muted Color"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"90991e9dde96cec6","type":"ha-entity-config","server":"b7acd042.10f4c","deviceConfig":"","name":"Dark Muted Color","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Dark Muted Color"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"13f67da67efbf0ae","type":"ha-entity-config","server":"b7acd042.10f4c","deviceConfig":"","name":"Light Muted Color","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Light Muted Color"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"bf41230fd438a766","type":"ha-entity-config","server":"b7acd042.10f4c","deviceConfig":"","name":"exposed as for Boolean Air Purfier","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Office Air AUTO"},{"property":"icon","value":""}],"resend":false},{"id":"119e9a66e68e89c7","type":"switch","z":"ce64fcf0d0091d1f","name":"Buttons","property":"payload.event.channel","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":170,"y":580,"wires":[["e6d04b745f39a221"],["c40bd21b228ccd4d"],["29a4a3f6425d9fe7"],["bd50da4423b0119e"]],"outputLabels":["UP LEFT","UP RIGHT","BOTTOM RIGHT","BOTTOM LEFT"]},{"id":"e6d04b745f39a221","type":"switch","z":"ce64fcf0d0091d1f","name":"Channel 1 as Button","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"btn_up","vt":"str"},{"t":"eq","v":"btn_down","vt":"str"},{"t":"eq","v":"single_push","vt":"str"},{"t":"eq","v":"double_push","vt":"str"},{"t":"eq","v":"long_push","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":460,"y":160,"wires":[[],[],[],[],[]]},{"id":"bd50da4423b0119e","type":"switch","z":"ce64fcf0d0091d1f","name":"Channel 4 as Button","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"btn_down","vt":"str"},{"t":"eq","v":"btn_up","vt":"str"},{"t":"eq","v":"single_push","vt":"str"},{"t":"eq","v":"double_push","vt":"str"},{"t":"eq","v":"long_push","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":430,"y":1060,"wires":[[],[],[],[],[]]},{"id":"29a4a3f6425d9fe7","type":"switch","z":"ce64fcf0d0091d1f","name":"Channel 2 as Button","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"btn_down","vt":"str"},{"t":"eq","v":"btn_up","vt":"str"},{"t":"eq","v":"single_push","vt":"str"},{"t":"eq","v":"double_push","vt":"str"},{"t":"eq","v":"long_push","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":440,"y":700,"wires":[[],[],[],[],[]]},{"id":"c40bd21b228ccd4d","type":"switch","z":"ce64fcf0d0091d1f","name":"Channel 3 as Button","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"btn_down","vt":"str"},{"t":"eq","v":"btn_up","vt":"str"},{"t":"eq","v":"single_push","vt":"str"},{"t":"eq","v":"double_push","vt":"str"},{"t":"eq","v":"long_push","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":720,"y":430,"wires":[[],[],[],[],[]]},{"id":"09abf0818169dd45","type":"comment","z":"ce64fcf0d0091d1f","name":"UP LEFT","info":"","x":430,"y":90,"wires":[]},{"id":"e9776670b316acca","type":"comment","z":"ce64fcf0d0091d1f","name":"UP RIGHT","info":"","x":680,"y":370,"wires":[]},{"id":"d65c41cf8ace251c","type":"comment","z":"ce64fcf0d0091d1f","name":"BOTTOM RIGHT","info":"","x":420,"y":640,"wires":[]},{"id":"c6f5cfe03c496fc2","type":"comment","z":"ce64fcf0d0091d1f","name":"BOTTOM LEFT","info":"","x":410,"y":1000,"wires":[]},{"id":"4b280c35.fffb7c","type":"switch","z":"380791a33554d66c","name":"Aqara night light","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":240,"wires":[["ea58464b.091ad","d178e3e09454422f"],[]]},{"id":"3436967.4e79f6a","type":"comment","z":"380791a33554d66c","name":"Hallway Light","info":"","x":150,"y":80,"wires":[]},{"id":"9e5cebbb.c0b0b8","type":"api-call-service","z":"380791a33554d66c","name":"Turn off Aqara Lights","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.aqara_hub"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1560,"y":380,"wires":[[]]},{"id":"652fad71.7b209c","type":"api-current-state","z":"380791a33554d66c","name":"Motion Sensor still on?","server":"b7acd042.10f4c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.motion_sensor_entrance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1078,"y":388,"wires":[["4d6a890a.d36f48"]]},{"id":"4d6a890a.d36f48","type":"switch","z":"380791a33554d66c","name":"Switch Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1178,"y":348,"wires":[["ea58464b.091ad"],["245605b6a01b290f","1bc899b6a0f0b8b8"]]},{"id":"857f7c10.2a0c4","type":"api-call-service","z":"380791a33554d66c","name":"Turn on Aqara Lights","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.aqara_hub"],"data":"{\"brightness\":255,\"rgb_color\":[255,159,76]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1188,"y":284,"wires":[[]]},{"id":"d178e3e09454422f","type":"api-current-state","z":"380791a33554d66c","name":"Aqara light off? ","server":"b7acd042.10f4c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"light.aqara_hub","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":928,"y":288,"wires":[["857f7c10.2a0c4"],[]]},{"id":"4a4630eb71afa782","type":"time-range-switch","z":"380791a33554d66c","name":"After 7AM","lat":"50.06042","lon":"14.39947","startTime":"07:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":480,"y":210,"wires":[["992dcdf738b46aa5"],["4b280c35.fffb7c"]]},{"id":"992dcdf738b46aa5","type":"switch","z":"380791a33554d66c","name":"Hallway day light","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":190,"wires":[["3ca4572eac92aac3","9a801ce91b0444c5"],[]]},{"id":"3ca4572eac92aac3","type":"api-current-state","z":"380791a33554d66c","name":"Hallway light off? ","server":"b7acd042.10f4c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"light.hallway_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":930,"y":90,"wires":[["3d8a954e56a24ed4"],[]]},{"id":"8bc350db19c7fb01","type":"api-call-service","z":"380791a33554d66c","name":"Turn Off Hallway Lights","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.hallway_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1460,"y":150,"wires":[[]]},{"id":"65d35c5a29c4d01e","type":"api-current-state","z":"380791a33554d66c","name":"Motion Sensor still on?","server":"b7acd042.10f4c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.motion_sensor_entrance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1140,"y":220,"wires":[["346680aae474f145"]]},{"id":"346680aae474f145","type":"switch","z":"380791a33554d66c","name":"ON OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":160,"wires":[["9a801ce91b0444c5"],["8bc350db19c7fb01"]]},{"id":"ba917f2acc69a821","type":"comment","z":"380791a33554d66c","name":"Utility room light","info":"","x":180,"y":490,"wires":[]},{"id":"245605b6a01b290f","type":"api-call-service","z":"380791a33554d66c","name":"White Light","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.aqara_hub"],"data":"{\"brightness\":255,\"rgb_color\":[255,255,255]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1378,"y":328,"wires":[[]]},{"id":"1bc899b6a0f0b8b8","type":"delay","z":"380791a33554d66c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1372,"y":380,"wires":[["9e5cebbb.c0b0b8"]]},{"id":"20b076b46cd04891","type":"trigger-state","z":"380791a33554d66c","name":"Hallway Light Swtich","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.shelly_1_hallway","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"off"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":182,"y":128,"wires":[["58dbdfd740c66452"],["97a74bda073629d2"]]},{"id":"97a74bda073629d2","type":"change","z":"380791a33554d66c","name":"ENABLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":307,"y":148,"wires":[["c9f0fd4d902864ae","6ef806866f4cce36"]],"icon":"font-awesome/fa-toggle-on","l":false},{"id":"58dbdfd740c66452","type":"change","z":"380791a33554d66c","name":"DISABLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":307,"y":108,"wires":[["c9f0fd4d902864ae","6ef806866f4cce36"]],"icon":"font-awesome/fa-toggle-off","l":false},{"id":"ea58464b.091ad","type":"stoptimer","z":"380791a33554d66c","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":938,"y":348,"wires":[["652fad71.7b209c"],[]]},{"id":"9a801ce91b0444c5","type":"stoptimer","z":"380791a33554d66c","duration":"60","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":940,"y":170,"wires":[["65d35c5a29c4d01e"],[]]},{"id":"d3435563fa7d7d8f","type":"link in","z":"380791a33554d66c","name":"People at home","links":["d7783c6f7fea7d76"],"x":172,"y":228,"wires":[["c9f0fd4d902864ae","6ef806866f4cce36"]],"icon":"font-awesome/fa-home","l":true},{"id":"45d9b442b59602e0","type":"trigger-state","z":"380791a33554d66c","name":"Utility Motion","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.motion_sensor_kidsroom","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":168,"y":540,"wires":[[],[]]},{"id":"ec4773fd55a484d3","type":"api-call-service","z":"380791a33554d66c","name":"Light ON","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.utility_room_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":550,"wires":[[]]},{"id":"a56448af5fd76de6","type":"api-call-service","z":"380791a33554d66c","name":"Light OFF","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.utility_room_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1280,"y":620,"wires":[[]]},{"id":"b0b82ebe94f50ca4","type":"link in","z":"380791a33554d66c","name":"Away MODE","links":["95f6ac85ea034a13"],"x":162,"y":188,"wires":[["20b076b46cd04891"]],"icon":"font-awesome/fa-car","l":true},{"id":"fc91dc06d99fd1a9","type":"time-range-switch","z":"380791a33554d66c","name":"After 7AM","lat":"","lon":"","startTime":"07:00","endTime":"22:30","startOffset":0,"endOffset":0,"x":338,"y":590,"wires":[["22f560569e2bd6e7"],[]]},{"id":"22f560569e2bd6e7","type":"switch","z":"380791a33554d66c","name":"Utility light ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":508,"y":590,"wires":[["ec4773fd55a484d3","6c00a598a4abe290"],[]]},{"id":"deb877e05b41e8bf","type":"switch","z":"380791a33554d66c","name":"Switch Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":610,"wires":[["6c00a598a4abe290"],["a56448af5fd76de6"]]},{"id":"e4eeb107ee93f8f5","type":"api-current-state","z":"380791a33554d66c","name":"Motion Sensor still on?","server":"b7acd042.10f4c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.motion_sensor_kidsroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":690,"wires":[["deb877e05b41e8bf"]]},{"id":"86c62d35a2cf5454","type":"link in","z":"380791a33554d66c","name":"Home Alone","links":["9de47be2e27012f8"],"x":160,"y":280,"wires":[["644e5aac0f9ca745","de90276392c55314"]],"icon":"font-awesome/fa-smile-o","l":true},{"id":"fe605c69291fbe47","type":"trigger-state","z":"380791a33554d66c","d":true,"name":"Kids room Motion","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.motion_sensor_kidsroom","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":190,"y":1000,"wires":[["44b2ca8d957fbda5"],[]]},{"id":"44b2ca8d957fbda5","type":"time-range-switch","z":"380791a33554d66c","name":"After 7AM","lat":"50.06052","lon":"14.39919","startTime":"07:00","endTime":"20:00","startOffset":0,"endOffset":0,"x":385,"y":1000,"wires":[[],["1b9da59983c2f2f0"]]},{"id":"1b9da59983c2f2f0","type":"switch","z":"380791a33554d66c","d":true,"name":"Bedside lamp ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":575,"y":1000,"wires":[["91f8423788e9abe3","6fa3eb1952ab0193"],["6fa3eb1952ab0193"]]},{"id":"91f8423788e9abe3","type":"api-call-service","z":"380791a33554d66c","name":"Lamp ON","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bedside_lamp"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":980,"wires":[[]]},{"id":"6fa3eb1952ab0193","type":"stoptimer","z":"380791a33554d66c","duration":"60","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":790,"y":1036,"wires":[["74b5b80b218f9a4e"],[]]},{"id":"4f7a8f4d11b3e0dd","type":"switch","z":"380791a33554d66c","name":"Switch Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1038,"y":1036,"wires":[["6fa3eb1952ab0193"],["e1c2e1b0083bd1d8"]]},{"id":"74b5b80b218f9a4e","type":"api-current-state","z":"380791a33554d66c","d":true,"name":"Motion Sensor still on?","server":"b7acd042.10f4c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.motion_sensor_kidsroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":914,"y":1084,"wires":[["4f7a8f4d11b3e0dd"]]},{"id":"e1c2e1b0083bd1d8","type":"api-call-service","z":"380791a33554d66c","name":"Light OFF","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bedside_lamp"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1216,"y":1006,"wires":[[]]},{"id":"97895dda63789076","type":"comment","z":"380791a33554d66c","name":"Kids Room Night Light","info":"","x":200,"y":960,"wires":[]},{"id":"ee7d89be3c9f602c","type":"link in","z":"380791a33554d66c","name":"Away MODE","links":["95f6ac85ea034a13"],"x":168,"y":650,"wires":[[]],"icon":"font-awesome/fa-car","l":true},{"id":"469dc92f73becb0b","type":"link in","z":"380791a33554d66c","name":"People at home","links":["d7783c6f7fea7d76"],"x":178,"y":690,"wires":[[]],"icon":"font-awesome/fa-home","l":true},{"id":"6a11188fad27cf41","type":"link in","z":"380791a33554d66c","name":"Away MODE","links":["95f6ac85ea034a13"],"x":170,"y":1060,"wires":[["fe605c69291fbe47"]],"icon":"font-awesome/fa-car","l":true},{"id":"9059dcc5a6fe3926","type":"link in","z":"380791a33554d66c","name":"People at home","links":["d7783c6f7fea7d76"],"x":180,"y":1100,"wires":[["fe605c69291fbe47"]],"icon":"font-awesome/fa-home","l":true},{"id":"3d8a954e56a24ed4","type":"api-call-service","z":"380791a33554d66c","name":"Turn On Hallway Lights","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.hallway_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1320,"y":90,"wires":[[]]},{"id":"cf55140962339075","type":"trigger-state","z":"380791a33554d66c","name":"Utility Motion","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.motion_sensor_kidsroom","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":168,"y":590,"wires":[["fc91dc06d99fd1a9"],[]]},{"id":"644e5aac0f9ca745","type":"trigger-state","z":"380791a33554d66c","name":"Hallway Motion","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.motion_sensor_entrance","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":490,"y":290,"wires":[["4b280c35.fffb7c"],[]]},{"id":"c9f0fd4d902864ae","type":"trigger-state","z":"380791a33554d66c","name":"Hallway Motion","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.motion_sensor_entrance","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":490,"y":130,"wires":[["4a4630eb71afa782"],[]]},{"id":"212861615ebafc0d","type":"switch","z":"380791a33554d66c","name":"Switch action","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":403,"y":780,"wires":[["7896cccfeaac7260"],["bc9e99ab9d1cbc5c"],["59f9a38d700d10b7"],["887553d67c72d4d1"]],"outputLabels":["on","off","brightness_move_down","brightness_move_up"],"icon":"node-red-contrib-home-assistant-websocket/ha-events-state-changed.svg","l":false},{"id":"4da4640699bc59ab","type":"comment","z":"380791a33554d66c","name":"Utility Room Switch ACTION","info":"","x":212,"y":740,"wires":[]},{"id":"7896cccfeaac7260","type":"api-call-service","z":"380791a33554d66c","name":"Utility Light ON","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.utility_room_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":700,"wires":[[]]},{"id":"bc9e99ab9d1cbc5c","type":"api-call-service","z":"380791a33554d66c","name":"Utility Light OFF","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.utility_room_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":750,"wires":[[]]},{"id":"69a249ab7938569e","type":"server-state-changed","z":"380791a33554d66c","name":"Utility Room Switch","server":"b7acd042.10f4c","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.utility_room_switch_action","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":780,"wires":[["212861615ebafc0d"]]},{"id":"59f9a38d700d10b7","type":"api-call-service","z":"380791a33554d66c","name":"Robot vacuum DOCK","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"vacuum","service":"return_to_base","areaId":[],"deviceId":[],"entityId":["vacuum.robot_vacuum"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":840,"wires":[[]]},{"id":"887553d67c72d4d1","type":"api-call-service","z":"380791a33554d66c","name":"Robot vacuum START","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"vacuum","service":"start","areaId":[],"deviceId":[],"entityId":["vacuum.robot_vacuum"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":880,"wires":[[]]},{"id":"9373ba4f286020fd","type":"comment","z":"380791a33554d66c","name":"Robot Vacuum Start/Stop >","info":"","x":590,"y":800,"wires":[]},{"id":"ce7533bd9468eeba","type":"api-call-service","z":"380791a33554d66c","name":"Vaness Light OFF","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.vanesska_ceiling_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":1200,"wires":[[]]},{"id":"9256a0863990730b","type":"comment","z":"380791a33554d66c","name":"Kids Room Switch","info":"","x":196,"y":1154,"wires":[]},{"id":"2cba1bf9d25a6743","type":"server-events","z":"380791a33554d66c","name":"Shelly Kids Room","server":"b7acd042.10f4c","version":3,"exposeAsEntityConfig":"","eventType":"shelly.click","eventData":"{\"device_id\":\"d418c0661d66d944c9579fe432953af5\",\"device\":\"shelly1-8CAAB56203EB\",\"channel\":1,\"click_type\":\"single\",\"generation\":1}","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":200,"y":1200,"wires":[["ce7533bd9468eeba"]]},{"id":"6c00a598a4abe290","type":"stoptimer","z":"380791a33554d66c","duration":"60","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":720,"y":650,"wires":[["e4eeb107ee93f8f5"],[]]},{"id":"de90276392c55314","type":"trigger-state","z":"380791a33554d66c","name":"Hallway Motion","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.motion_sensor_hallway_occupancy","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":490,"y":250,"wires":[["4b280c35.fffb7c"],[]]},{"id":"6ef806866f4cce36","type":"trigger-state","z":"380791a33554d66c","name":"Hallway Motion","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.motion_sensor_hallway_occupancy","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":490,"y":90,"wires":[["4a4630eb71afa782"],[]]},{"id":"bf59aa443e6bde14","type":"comment","z":"2679ab70efbd1e8d","name":"Kitchen Night Light","info":"","x":150,"y":50,"wires":[]},{"id":"81487d513926b407","type":"api-call-service","z":"2679ab70efbd1e8d","name":"Turn on Kitchen Night Lights","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.kitchen_main_light"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":750,"y":90,"wires":[[]]},{"id":"e71b659caa1978c1","type":"api-call-service","z":"2679ab70efbd1e8d","name":"Turn off Kitchen Night Lights","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.kitchen_main_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1430,"y":190,"wires":[[]]},{"id":"487eaff6836cbe5f","type":"switch","z":"2679ab70efbd1e8d","name":"Switch Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":160,"wires":[["d23042eaa44b4dcc"],["e71b659caa1978c1"]]},{"id":"4551cbd33820c069","type":"trigger-state","z":"2679ab70efbd1e8d","name":"Kitchen motion","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.motion_sensor_kitchen","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"entity_id","targetValue":"light.table_floor_lamp_led_strop","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"entity_id","targetValue":"media_player.living_room_tv","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":140,"y":100,"wires":[["a790949c0a78dbfd"],[]]},{"id":"d23042eaa44b4dcc","type":"stoptimer","z":"2679ab70efbd1e8d","duration":"60","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":720,"y":150,"wires":[["b52f5db341c4cf1f"],[]]},{"id":"a790949c0a78dbfd","type":"time-range-switch","z":"2679ab70efbd1e8d","name":"After 7AM","lat":"50.0605","lon":"14.39933","startTime":"07:00","endTime":"20:00","startOffset":0,"endOffset":0,"x":330,"y":110,"wires":[[],["0f216a708b3ab5e1"]]},{"id":"9564d15357d3274e","type":"switch","z":"2679ab70efbd1e8d","name":"ON OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":580,"wires":[["abeab61bf25ebd9e"],["65fdf45031ef2c72"]]},{"id":"abeab61bf25ebd9e","type":"api-call-service","z":"2679ab70efbd1e8d","name":"Scene Cozy Light","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.cozy_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":550,"wires":[[]]},{"id":"11db19e225a8f8f6","type":"server-state-changed","z":"2679ab70efbd1e8d","name":"Boolean COZY LIGHT","server":"b7acd042.10f4c","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_boolean.cozy_light","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":580,"wires":[["9564d15357d3274e"]]},{"id":"65fdf45031ef2c72","type":"api-call-service","z":"2679ab70efbd1e8d","name":"Turn Off Light","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["03a4fd8b9d725beffa97bb82f48b8b6e","e7af442b82200a4630985d66607da62d"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":610,"wires":[[]]},{"id":"e861e4e8cf9b34af","type":"comment","z":"2679ab70efbd1e8d","name":"Cozy light living room","info":"","x":160,"y":530,"wires":[]},{"id":"3dfc77da91542cd4","type":"api-call-service","z":"2679ab70efbd1e8d","name":"Boolean Cozy Light Off","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.cozy_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":690,"wires":[[]]},{"id":"dc92371774b3d52c","type":"trigger-state","z":"2679ab70efbd1e8d","name":"cozy light state","server":"b7acd042.10f4c","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"light.cozy_light_group","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":140,"y":670,"wires":[["3dfc77da91542cd4"],[]]},{"id":"884292ba910a3c52","type":"api-call-service","z":"2679ab70efbd1e8d","name":"Kitchen Main Light Toggle","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.kitchen_main_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":330,"wires":[[]]},{"id":"f5940ccc3bac939a","type":"server-events","z":"2679ab70efbd1e8d","name":"Kitchen Shelly Main Light","server":"b7acd042.10f4c","version":3,"exposeAsEntityConfig":"","eventType":"shelly.click","eventData":"{\"device_id\":\"0c600ded76ed85d7169007224d056d42\",\"device\":\"shellyplus2pm-08b61fcbf00c\",\"channel\":2,\"click_type\":\"single_push\",\"generation\":2}","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":170,"y":330,"wires":[["884292ba910a3c52"]]},{"id":"0f216a708b3ab5e1","type":"switch","z":"2679ab70efbd1e8d","name":"Switch Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":110,"wires":[["81487d513926b407","d23042eaa44b4dcc"],[]]},{"id":"b52f5db341c4cf1f","type":"api-current-state","z":"2679ab70efbd1e8d","name":"Motion Sensor still on?","server":"b7acd042.10f4c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.motion_sensor_kitchen","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":"","forType":"num","forUnits":"minutes","x":970,"y":180,"wires":[["487eaff6836cbe5f"]]},{"id":"1da639aa7b23c79b","type":"trigger-state","z":"2679ab70efbd1e8d","name":"Sony TV","server":"b7acd042.10f4c","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.sony_bravia_tv","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":920,"y":560,"wires":[["84cdf88b79172f56"],["c39fd0138ac4dd4b"]]},{"id":"84cdf88b79172f56","type":"api-call-service","z":"2679ab70efbd1e8d","name":"Govee TV Backlight ON","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["06d608d2a0e94b55f30111113b14489c"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":530,"wires":[[]]},{"id":"c39fd0138ac4dd4b","type":"api-call-service","z":"2679ab70efbd1e8d","name":"Govee TV Backlight Off","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["06d608d2a0e94b55f30111113b14489c"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":580,"wires":[[]]},{"id":"2f12620b27a4b5a4","type":"server-state-changed","z":"6a820c3c90839117","name":"Bathroom Motion Sensor","server":"b7acd042.10f4c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.motion_sensor_bathroom","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":170,"wires":[["28233d8424294180"],["28233d8424294180"]]},{"id":"883b442f2e9b54f3","type":"api-call-service","z":"6a820c3c90839117","name":"Turn on Bathroom Lights","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bathroom_main_light","light.bathroom_mirror_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":980,"y":30,"wires":[[]]},{"id":"10f89a35f2b2fc35","type":"time-range-switch","z":"6a820c3c90839117","name":"After 7AM","lat":"50.06052","lon":"14.39913","startTime":"07:00","endTime":"22:30","startOffset":0,"endOffset":0,"x":660,"y":60,"wires":[["883b442f2e9b54f3"],["6808db37862bcf21"]]},{"id":"15dfba7a93af976f","type":"stoptimer","z":"6a820c3c90839117","duration":"180","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":710,"y":150,"wires":[["d1662a3d6cfec582"],[]]},{"id":"d1662a3d6cfec582","type":"api-current-state","z":"6a820c3c90839117","name":"Bathroom Occupacy Check","server":"b7acd042.10f4c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.bathroom_occupancy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":250,"wires":[["db5af0863109503b"]]},{"id":"e46af0e2b0dc9d76","type":"comment","z":"6a820c3c90839117","name":"Bathroom Light","info":"","x":140,"y":70,"wires":[]},{"id":"6c4d70a8fc2d2c21","type":"server-state-changed","z":"6a820c3c90839117","name":"Shower Room Motion","server":"b7acd042.10f4c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.motion_sensor_shower_room","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":530,"wires":[["1954da81fd572e57"],[]]},{"id":"3a0410d27e9bd292","type":"time-range-switch","z":"6a820c3c90839117","name":"After 7AM","lat":"","lon":"","startTime":"07:00","endTime":"22:30","startOffset":0,"endOffset":0,"x":638,"y":530,"wires":[["757c4d11d8951fb9"],["7c01b249dc7ba201"]]},{"id":"757c4d11d8951fb9","type":"api-call-service","z":"6a820c3c90839117","name":"Turn on Bathroom Lights","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.shower_room_mirror_light","light.shower_room_main_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":900,"y":470,"wires":[[]]},{"id":"7c01b249dc7ba201","type":"api-call-service","z":"6a820c3c90839117","name":"Turn on Bathroom Mirror Lights","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.shower_room_mirror_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":924,"y":566,"wires":[[]]},{"id":"a0d4b14dd0c55828","type":"stoptimer","z":"6a820c3c90839117","duration":"180","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":668,"y":626,"wires":[["0330583b5c383905","8cf46a505c97cdcc"],[]]},{"id":"8cf46a505c97cdcc","type":"api-current-state","z":"6a820c3c90839117","name":"Shower Room Occupacy Check","server":"b7acd042.10f4c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.shower_room_occupancy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":674,"wires":[["0330583b5c383905"]]},{"id":"fc4d8ef88680b05f","type":"api-call-service","z":"6a820c3c90839117","name":"Turn Off Bathroom Lights","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.shower_room_mirror_light","light.shower_room_main_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1192,"y":626,"wires":[[]]},{"id":"4c7c9e62597a68bf","type":"comment","z":"6a820c3c90839117","name":"Bedroom Bathroom Light","info":"","x":160,"y":482,"wires":[]},{"id":"46ac6c999d8ddb2d","type":"api-call-service","z":"6a820c3c90839117","name":"Air Freshner","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":["7b6b702af047696c362b81112257dba1"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":280,"y":310,"wires":[["97f093a203c5a93f"]]},{"id":"97f093a203c5a93f","type":"delay","z":"6a820c3c90839117","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":530,"y":310,"wires":[["897b52ba2dba1243"]]},{"id":"897b52ba2dba1243","type":"api-call-service","z":"6a820c3c90839117","name":"Air Freshner OFF","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":["7b6b702af047696c362b81112257dba1"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":310,"wires":[[]]},{"id":"f8e93c6e9cd84e39","type":"server-state-changed","z":"6a820c3c90839117","name":"Occup 3'","server":"b7acd042.10f4c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.bathroom_occupancy","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"3","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":310,"wires":[["46ac6c999d8ddb2d"],[]]},{"id":"28233d8424294180","type":"switch","z":"6a820c3c90839117","name":"Switch Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":130,"wires":[["10f89a35f2b2fc35","15dfba7a93af976f"],["15dfba7a93af976f"]]},{"id":"db5af0863109503b","type":"switch","z":"6a820c3c90839117","name":"Switch Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":250,"wires":[["15dfba7a93af976f"],["94950adb5891d286"]]},{"id":"1954da81fd572e57","type":"switch","z":"6a820c3c90839117","name":"Switch Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":412,"y":530,"wires":[["3a0410d27e9bd292","a0d4b14dd0c55828"],["a0d4b14dd0c55828"]]},{"id":"0330583b5c383905","type":"switch","z":"6a820c3c90839117","name":"Switch Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":626,"wires":[["a0d4b14dd0c55828"],["fc4d8ef88680b05f"]]},{"id":"96e7db58464b157e","type":"server-state-changed","z":"6a820c3c90839117","name":"Ikea switch BR","server":"b7acd042.10f4c","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.ikea_switch_action","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":110,"wires":[["28233d8424294180"]]},{"id":"c3ef22f44b1fed0e","type":"api-call-service","z":"6a820c3c90839117","name":"Toggle Bathroom Lights","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.bathroom_main_light","light.bathroom_mirror_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":410,"y":230,"wires":[["15dfba7a93af976f"]]},{"id":"8b7666016079beee","type":"trigger-state","z":"6a820c3c90839117","name":"Bathroom Shelly Switch","server":"b7acd042.10f4c","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.shelly_1_bathroom_light_input","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":""}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":160,"y":230,"wires":[["c3ef22f44b1fed0e"],["c3ef22f44b1fed0e"]]},{"id":"f737bd83037f9ef3","type":"api-call-service","z":"6a820c3c90839117","name":"Shower Main Light Toggle","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.shower_room_main_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":410,"y":600,"wires":[["a0d4b14dd0c55828"]]},{"id":"f9f2c84d4669047e","type":"trigger-state","z":"6a820c3c90839117","name":"Shower Main Light Input","server":"b7acd042.10f4c","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.shelly_shower_room_main_light_input","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":""}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":160,"y":600,"wires":[["f737bd83037f9ef3"],["f737bd83037f9ef3"]]},{"id":"94950adb5891d286","type":"api-call-service","z":"6a820c3c90839117","name":"Turn Off Bathroom Lights","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bathroom_main_light","light.bathroom_mirror_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1360,"y":250,"wires":[[]]},{"id":"e44c7778766f5db8","type":"server-events","z":"6a820c3c90839117","name":"Bedroom BedLight ","server":"b7acd042.10f4c","version":3,"exposeAsEntityConfig":"","eventType":"shelly.click","eventData":"{\"device_id\":\"603ddbac80529cb98d18b2f616c04ebf\",\"device\":\"shellyswitch25-3C6105E4FDF5\",\"channel\":2,\"click_type\":\"long\",\"generation\":1}","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":130,"y":760,"wires":[["8fa747708016c736"]]},{"id":"8fa747708016c736","type":"api-call-service","z":"6a820c3c90839117","name":"Bed Light Toggle","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":[],"entityId":["switch.lidl_3_gang_socket_l2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":760,"wires":[[]]},{"id":"6808db37862bcf21","type":"api-call-service","z":"6a820c3c90839117","name":"Turn on Bathroom Lights","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bathroom_main_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":980,"y":90,"wires":[[]]},{"id":"b64177b377db5c81","type":"api-call-service","z":"6a820c3c90839117","name":"Turn on Bedroom Light","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bed_light"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":790,"y":970,"wires":[[]]},{"id":"42781395e09d8686","type":"api-call-service","z":"6a820c3c90839117","name":"Turn off Bedroom Light","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bed_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1470,"y":1030,"wires":[[]]},{"id":"5b86407e8b0cb887","type":"switch","z":"6a820c3c90839117","name":"Switch Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":1030,"wires":[["5b38ae4363f7335f"],["42781395e09d8686"]]},{"id":"504140cb550edf83","type":"trigger-state","z":"6a820c3c90839117","name":"Bedroom motion","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.motion_sensor_bedroom","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"entity_id","targetValue":"light.bed_light","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":150,"y":1000,"wires":[["4c34a2771fe432cf"],[]]},{"id":"5b38ae4363f7335f","type":"stoptimer","z":"6a820c3c90839117","duration":"120","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":760,"y":1030,"wires":[["4f96c61397a453ad"],[]]},{"id":"4c34a2771fe432cf","type":"time-range-switch","z":"6a820c3c90839117","name":"After 7AM","lat":"50.0605","lon":"14.39933","startTime":"08:00","endTime":"18:00","startOffset":0,"endOffset":0,"x":370,"y":990,"wires":[[],["2f42f24371442113"]]},{"id":"2f42f24371442113","type":"switch","z":"6a820c3c90839117","name":"Switch Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":990,"wires":[["b64177b377db5c81","5b38ae4363f7335f"],[]]},{"id":"4f96c61397a453ad","type":"api-current-state","z":"6a820c3c90839117","name":"Motion Sensor still on?","server":"b7acd042.10f4c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.motion_sensor_bedroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":"","forType":"num","forUnits":"minutes","x":1010,"y":1030,"wires":[["5b86407e8b0cb887"]]},{"id":"2929fd03c5358f45","type":"comment","z":"6a820c3c90839117","name":"Bedroom Motion Light","info":"","x":170,"y":920,"wires":[]},{"id":"5e71d7f74902d924","type":"ha-get-entities","z":"8046763851194189","name":"Lights on?","server":"b7acd042.10f4c","version":0,"rules":[{"property":"entity_id","logic":"in_group","value":"group.light_all","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":780,"y":640,"wires":[["d8079c95220375ac"]]},{"id":"d8079c95220375ac","type":"api-call-service","z":"8046763851194189","name":"Turn Off Light","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":$join(payload.entity_id,\",\")}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":640,"wires":[[]]},{"id":"4de96b322dc1ba1a","type":"ha-get-entities","z":"8046763851194189","name":"Media Players Playing? ","server":"b7acd042.10f4c","version":0,"rules":[{"property":"entity_id","logic":"in_group","value":"group.television","valueType":"str"},{"property":"state","logic":"is_not","value":"off","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":830,"y":720,"wires":[["073f411a5e564579"]]},{"id":"073f411a5e564579","type":"api-call-service","z":"8046763851194189","name":"Turn Off Media Players","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":$join(payload.entity_id,\",\")}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":720,"wires":[[]]},{"id":"ef7e9e02a8e68a60","type":"comment","z":"8046763851194189","name":"Scene automations","info":"","x":960,"y":80,"wires":[]},{"id":"8165555d1408f61b","type":"link in","z":"8046763851194189","name":"B3 Single Click Output","links":["9458d62692500cd9"],"x":190,"y":200,"wires":[["4ae0edfdff82ddf7"]],"icon":"node-red-dashboard/ui_button.png","l":true},{"id":"fba0d1a3ae5faeda","type":"link in","z":"8046763851194189","name":"B3 Double Click Output","links":["51f83682935d7946"],"x":190,"y":120,"wires":[["ae7a7860b1c0e326"]],"icon":"node-red-dashboard/ui_button.png","l":true},{"id":"49900f46fc3a337f","type":"link in","z":"8046763851194189","name":"B3 Long Press Output","links":["98c833a05e4b3dfd"],"x":190,"y":310,"wires":[["5b53b87b7739b6e9"]],"icon":"node-red-dashboard/ui_button.png","l":true},{"id":"309b3ef57db1fc07","type":"ha-get-entities","z":"8046763851194189","name":"Lights Kitchen Living Room ON?","server":"b7acd042.10f4c","version":0,"rules":[{"property":"entity_id","logic":"in_group","value":"group.light_living_room","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1020,"y":320,"wires":[["314698e09c729052"]]},{"id":"314698e09c729052","type":"api-call-service","z":"8046763851194189","name":"Turn Off Light","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":$join(payload.entity_id,\",\")}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":320,"wires":[[]]},{"id":"ddf39fdd13e65c57","type":"api-current-state","z":"8046763851194189","name":"Sony TV On?","server":"b7acd042.10f4c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"remote.sony_bravia_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":960,"y":410,"wires":[["ce7e2d7602eeb96e"],[]]},{"id":"ce7e2d7602eeb96e","type":"api-call-service","z":"8046763851194189","name":"Turn Off TV","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"remote","service":"turn_off","areaId":[],"deviceId":[],"entityId":["remote.sony_bravia_tv"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1310,"y":410,"wires":[[]]},{"id":"76bed3316cfa40f5","type":"api-call-service","z":"8046763851194189","name":"Night Security Mode","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_arm_night","areaId":[],"deviceId":[],"entityId":["alarm_control_panel.aqara_hub"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":510,"wires":[["ff50165c066947d3"]]},{"id":"59af60a0e35d4bb6","type":"api-call-service","z":"8046763851194189","name":"Security Mode OFF","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_disarm","areaId":[],"deviceId":[],"entityId":["alarm_control_panel.aqara_hub"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":180,"wires":[[]]},{"id":"ff50165c066947d3","type":"api-current-state","z":"8046763851194189","name":"Front Door UNLOCK?","server":"b7acd042.10f4c","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"binary_sensor.nuki_neklanka_byt_locked","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":590,"wires":[["345710e6e9b0281c"],[]]},{"id":"345710e6e9b0281c","type":"api-call-service","z":"8046763851194189","name":"Lock front door","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"lock","service":"lock","areaId":[],"deviceId":[],"entityId":["lock.nuki_neklanka_byt_lock"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":580,"wires":[[]]},{"id":"ae7a7860b1c0e326","type":"api-call-service","z":"8046763851194189","name":"Guest Mode ON","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"input_boolean","service":"toggle","areaId":[],"deviceId":[],"entityId":["input_boolean.guest_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":120,"wires":[["da1db7eb01971439"]]},{"id":"1cf721d9e9f9ca66","type":"comment","z":"8046763851194189","name":"MORNING MODE","info":"","x":180,"y":160,"wires":[]},{"id":"fb02aa35a889381d","type":"comment","z":"8046763851194189","name":"NIGHT MODE","info":"","x":160,"y":270,"wires":[]},{"id":"d33212b132c438b5","type":"comment","z":"8046763851194189","name":"GUEST MODE","info":"","x":170,"y":80,"wires":[]},{"id":"17731f68054e00be","type":"api-current-state","z":"8046763851194189","name":"Guest mode OFF? ","server":"b7acd042.10f4c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.guest_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":730,"wires":[["5e71d7f74902d924","4de96b322dc1ba1a","b1021462e3268d6b","997a74a42404320b","72a0acb4b36ad0fb","d1fad7603e6be4e9","b0f09cad2fcf6f2e"],[]]},{"id":"b1021462e3268d6b","type":"api-call-service","z":"8046763851194189","name":"Security Mode AWAY","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_arm_away","areaId":[],"deviceId":[],"entityId":["alarm_control_panel.aqara_hub"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":900,"wires":[[]]},{"id":"5011ae393d3cddc8","type":"server-state-changed","z":"8046763851194189","name":"Away","server":"b7acd042.10f4c","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_boolean.leaving_home","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":730,"wires":[["f7a19cdf1f7e1d9f"]],"icon":"font-awesome/fa-sign-out"},{"id":"21f4098243f94269","type":"change","z":"8046763851194189","name":"DISABLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":790,"wires":[["95f6ac85ea034a13"]],"icon":"font-awesome/fa-toggle-off","l":false},{"id":"95f6ac85ea034a13","type":"link out","z":"8046763851194189","name":"Away MODE","mode":"link","links":["6a11188fad27cf41","b0b82ebe94f50ca4","ee7d89be3c9f602c"],"x":520,"y":790,"wires":[],"icon":"font-awesome/fa-car","l":true},{"id":"f7a19cdf1f7e1d9f","type":"switch","z":"8046763851194189","name":"ON OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":730,"wires":[["21f4098243f94269","17731f68054e00be","ff50165c066947d3"],["25528ecab22169b7"]]},{"id":"724bd07fe9f3f849","type":"trigger-state","z":"8046763851194189","name":"Night Mode ON","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_boolean.night_mode","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":700,"y":310,"wires":[["309b3ef57db1fc07","ddf39fdd13e65c57","76bed3316cfa40f5","11f0c3e38f1f6744","712743e26e83bec3","d6c549aa00c5aaf8"],[]]},{"id":"5b53b87b7739b6e9","type":"api-call-service","z":"8046763851194189","name":"Trigger Night Mode ON","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.night_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":310,"wires":[["724bd07fe9f3f849"]]},{"id":"b89bb57b50b14bb6","type":"trigger-state","z":"8046763851194189","name":"Morning Mode ON","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_boolean.good_morning","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":690,"y":200,"wires":[["08debc7648786f50","59af60a0e35d4bb6","277f184ac771536c"],[]]},{"id":"4ae0edfdff82ddf7","type":"api-call-service","z":"8046763851194189","name":"Trigger Morning Mode ON","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.good_morning"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":210,"wires":[["b89bb57b50b14bb6"]]},{"id":"3475e48ab3fbb876","type":"comment","z":"8046763851194189","name":"AWAY MODE","info":"","x":130,"y":690,"wires":[]},{"id":"25528ecab22169b7","type":"api-call-service","z":"8046763851194189","name":"Security Mode OFF","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_disarm","areaId":[],"deviceId":[],"entityId":["alarm_control_panel.aqara_hub"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":880,"wires":[[]]},{"id":"11f0c3e38f1f6744","type":"api-call-service","z":"8046763851194189","name":"Trigger Morning Mode OFF","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.good_morning"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":460,"wires":[[]]},{"id":"08debc7648786f50","type":"api-call-service","z":"8046763851194189","name":"Trigger Night OFF","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.night_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":230,"wires":[[]]},{"id":"15376ec77cfe4911","type":"api-call-service","z":"8046763851194189","name":"Turn Off Light","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":$join(payload.entity_id,\",\")}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":370,"wires":[[]]},{"id":"712743e26e83bec3","type":"ha-get-entities","z":"8046763851194189","name":"Lights Kitchen Living Room ON?","server":"b7acd042.10f4c","version":0,"rules":[{"property":"entity_id","logic":"in_group","value":"group.light_kitchen","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1030,"y":370,"wires":[["15376ec77cfe4911"]]},{"id":"997a74a42404320b","type":"api-call-service","z":"8046763851194189","name":"Night Morning OFF","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.good_morning","input_boolean.night_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":970,"wires":[[]]},{"id":"da1db7eb01971439","type":"api-call-service","z":"8046763851194189","name":"Guest Mode ON","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"notify","service":"ngoc_devices","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Guest mode turn ON\",\"title\":\"Scenes\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":120,"wires":[[]]},{"id":"72a0acb4b36ad0fb","type":"time-range-switch","z":"8046763851194189","name":"After 7AM","lat":"50.06042","lon":"14.39947","startTime":"07:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":770,"y":830,"wires":[["b1bdd09b4603f8e3"],[]]},{"id":"277f184ac771536c","type":"api-call-service","z":"8046763851194189","name":"Cover Morning Mode","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"script","service":"morning_cover","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":120,"wires":[[]]},{"id":"d6c549aa00c5aaf8","type":"api-call-service","z":"8046763851194189","name":"Cover Night Mode","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"automation","service":"trigger","areaId":[],"deviceId":[],"entityId":["automation.cover_night_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":280,"wires":[[]]},{"id":"b1bdd09b4603f8e3","type":"api-current-state","z":"8046763851194189","name":"Living Room Cover State","server":"b7acd042.10f4c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"cover.living_room_cover","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1090,"y":820,"wires":[["51f43d96994c6da2"]]},{"id":"51f43d96994c6da2","type":"switch","z":"8046763851194189","name":"Open / Closed","property":"payload.attributes.current_position","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1340,"y":820,"wires":[["1e23f9121b37217c"],[]]},{"id":"1e23f9121b37217c","type":"api-call-service","z":"8046763851194189","name":"Cover Close","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.living_room_cover"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1550,"y":820,"wires":[["a74c60fb4262e4b8"]]},{"id":"6ae19dd76a89cc16","type":"api-call-service","z":"8046763851194189","name":"Cover Tilt","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"cover","service":"set_cover_tilt_position","areaId":[],"deviceId":[],"entityId":["cover.living_room_cover"],"data":"{\"tilt_position\":100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1860,"y":800,"wires":[[]]},{"id":"a74c60fb4262e4b8","type":"ha-wait-until","z":"8046763851194189","name":"Position","server":"b7acd042.10f4c","version":2,"outputs":1,"entityId":"cover.living_room_cover","entityIdFilterType":"exact","property":"attributes.current_position","comparator":"is","value":"0","valueType":"num","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":1700,"y":800,"wires":[["6ae19dd76a89cc16"]]},{"id":"d1fad7603e6be4e9","type":"ha-get-entities","z":"8046763851194189","name":"Homepods","server":"b7acd042.10f4c","version":0,"rules":[{"property":"entity_id","logic":"in_group","value":"group.homepod_speakers","valueType":"str"},{"property":"state","logic":"is_not","value":"off","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":790,"y":780,"wires":[["08698438efd29f14"]]},{"id":"08698438efd29f14","type":"api-call-service","z":"8046763851194189","name":"Turn Off Homepods","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":$join(payload.entity_id,\",\")}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1070,"y":780,"wires":[[]]},{"id":"0ee045240b9f7a2f","type":"trigger-state","z":"8046763851194189","name":"People Home","server":"b7acd042.10f4c","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.people_home","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":680,"y":1280,"wires":[["404fe28bd60726b5","6817447ddf9fe292"],["56ba79cf099350b3","a85dfdf2282bce70"]]},{"id":"404fe28bd60726b5","type":"change","z":"8046763851194189","name":"DISABLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1200,"wires":[["d7783c6f7fea7d76"]],"icon":"font-awesome/fa-close"},{"id":"d7783c6f7fea7d76","type":"link out","z":"8046763851194189","name":"People at home","mode":"link","links":["469dc92f73becb0b","d3435563fa7d7d8f","9059dcc5a6fe3926"],"x":1010,"y":1210,"wires":[],"icon":"font-awesome/fa-home","l":true},{"id":"56ba79cf099350b3","type":"change","z":"8046763851194189","name":"ENABLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1240,"wires":[["d7783c6f7fea7d76"]],"icon":"font-awesome/fa-check"},{"id":"6817447ddf9fe292","type":"change","z":"8046763851194189","name":"ENABLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":775,"y":1310,"wires":[["9de47be2e27012f8"]],"icon":"font-awesome/fa-toggle-on","l":false},{"id":"a85dfdf2282bce70","type":"change","z":"8046763851194189","name":"DISABLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":775,"y":1350,"wires":[["9de47be2e27012f8"]],"icon":"font-awesome/fa-toggle-off","l":false},{"id":"9de47be2e27012f8","type":"link out","z":"8046763851194189","name":"Home alone","mode":"link","links":["86c62d35a2cf5454"],"x":1030,"y":1340,"wires":[],"icon":"font-awesome/fa-child","l":true},{"id":"74419c28011255ff","type":"trigger-state","z":"8046763851194189","name":"Z presence","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_boolean.z_occupacy","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":150,"y":1240,"wires":[["ca8dba0d09292427"],["c7ba223aba68636f"]]},{"id":"ca8dba0d09292427","type":"api-call-service","z":"8046763851194189","name":"Z Prichod","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_viet_ngoc","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Wifey Comming Home\",\"title\":\"Presence detect\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":1220,"wires":[[]]},{"id":"c7ba223aba68636f","type":"api-call-service","z":"8046763851194189","name":"Z odchod","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_viet_ngoc","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Wifey Leaving Home\",\"title\":\"Presence detect\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":1270,"wires":[[]]},{"id":"88ba65167dc10fd6","type":"comment","z":"8046763851194189","name":"Home occupancy NOTIFY","info":"","x":200,"y":1180,"wires":[]},{"id":"b0f09cad2fcf6f2e","type":"api-current-state","z":"8046763851194189","name":"Speakers playing","server":"b7acd042.10f4c","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.currently_playing","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":810,"y":690,"wires":[["e0df51de5cadbebb"],[]]},{"id":"e0df51de5cadbebb","type":"api-call-service","z":"8046763851194189","name":"Turn Off Media Players","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":[],"entityId":["media_player.currently_playing"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":690,"wires":[[]]},{"id":"227be105f5fd4a5f","type":"api-call-service","z":"2a713bb46c924fff","name":"Fan Mode Max","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.zhimi_mb4_b008_favorite_speed"],"data":"{\"value\":2200}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":240,"wires":[[]]},{"id":"279f7b3c1b498dc1","type":"switch","z":"2a713bb46c924fff","name":">80","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"num"},{"t":"lte","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":280,"wires":[["227be105f5fd4a5f"],["d330655ca902dad6"]]},{"id":"d330655ca902dad6","type":"api-call-service","z":"2a713bb46c924fff","name":"Fan AUTO Mode","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"fan","service":"set_preset_mode","areaId":[],"deviceId":[],"entityId":["fan.zhimi_mb4_b008_air_purifier"],"data":"{\"preset_mode\":\"Auto\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":300,"wires":[[]]},{"id":"69c8bfdc6c60b042","type":"trigger-state","z":"2a713bb46c924fff","d":true,"name":"Office AQI","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.zhimi_mb4_b008_pm25_density","entityIdType":"exact","debugEnabled":false,"constraints":[],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":500,"y":280,"wires":[["279f7b3c1b498dc1"],[]]},{"id":"8f0b7a9eeaa116e5","type":"change","z":"2a713bb46c924fff","name":"ON / OFF","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"enable","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[["69c8bfdc6c60b042"]]},{"id":"e5c5401bd7f17e10","type":"switch","z":"2a713bb46c924fff","name":"ON OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":100,"wires":[["4949f034896d51c8"],["2b71e1da1a25debe"]]},{"id":"4949f034896d51c8","type":"api-call-service","z":"2a713bb46c924fff","name":"Scene Office Mode","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.office_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":70,"wires":[[]]},{"id":"77b1072d6070afda","type":"server-state-changed","z":"2a713bb46c924fff","name":"Boolean OFFICE MODE","server":"b7acd042.10f4c","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_boolean.office_mode","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":100,"wires":[["e5c5401bd7f17e10"]]},{"id":"2b71e1da1a25debe","type":"ha-get-entities","z":"2a713bb46c924fff","name":"Office Light ON?","server":"b7acd042.10f4c","version":0,"rules":[{"property":"entity_id","logic":"in_group","value":"group.light_office","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":520,"y":120,"wires":[["0c1049971606746d"]]},{"id":"0c1049971606746d","type":"api-call-service","z":"2a713bb46c924fff","name":"Turn Off Light","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":$join(payload.entity_id,\",\")}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":120,"wires":[[]]},{"id":"67ddb5fdb3904e91","type":"api-call-service","z":"2a713bb46c924fff","name":"Boolean Office Mode OFF","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.office_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":190,"wires":[[]]},{"id":"f4257c2ec0fd33e6","type":"trigger-state","z":"2a713bb46c924fff","name":"Office Lights OFF","server":"b7acd042.10f4c","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"group.light_office","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":130,"y":170,"wires":[["67ddb5fdb3904e91"],[]]},{"id":"bc541ee864706579","type":"comment","z":"2a713bb46c924fff","name":"Boolean Office Mode","info":"","x":150,"y":50,"wires":[]},{"id":"73b1fefd920ed3e2","type":"trigger-state","z":"2a713bb46c924fff","name":"BR Motion","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.motion_sensor_bedroom","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":1480,"y":210,"wires":[["0b444af6c1522527"],[]]},{"id":"0b444af6c1522527","type":"api-call-service","z":"2a713bb46c924fff","name":"BR Motion alert","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"notify","service":"ngoc_devices","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Bedroom motion\",\"title\":\"Motion sensor\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1680,"y":210,"wires":[["a83710a05e3bfe0f"]]},{"id":"cb8ee9d0d20c6992","type":"trigger-state","z":"2a713bb46c924fff","name":"BR Motion boolean","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_boolean.brma","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":1160,"y":138,"wires":[["aa211c997d8552a8","6053bd000d721927"],["42408046855b0724","3752f01edf4fb2f9"]]},{"id":"aa211c997d8552a8","type":"change","z":"2a713bb46c924fff","name":"ENABLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1325,"y":180,"wires":[["73b1fefd920ed3e2","f4d84e394278fc95","ed483b5fabb7eb18"]],"icon":"font-awesome/fa-toggle-on","l":false},{"id":"42408046855b0724","type":"change","z":"2a713bb46c924fff","name":"DISABLE","rules":[{"t":"set","p":"payload","pt":"msg","to":"disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1325,"y":230,"wires":[["73b1fefd920ed3e2","f4d84e394278fc95","ed483b5fabb7eb18"]],"icon":"font-awesome/fa-toggle-off","l":false},{"id":"a0bd5e7873a52355","type":"inject","z":"2a713bb46c924fff","name":"Inject OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1164,"y":186,"wires":[["422b2ca571077060"]]},{"id":"422b2ca571077060","type":"api-call-service","z":"2a713bb46c924fff","name":"BRMA OFF ","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.brma"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1164,"y":236,"wires":[[]]},{"id":"f5d6f23d1da18f11","type":"api-call-service","z":"2a713bb46c924fff","name":"HW Motion alert","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"notify","service":"ngoc_devices","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Hallway motion\",\"title\":\"Motion sensor\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1710,"y":340,"wires":[[]]},{"id":"14e8c8e4be26af4a","type":"comment","z":"2a713bb46c924fff","name":"Bolean Trigger","info":"","x":1140,"y":90,"wires":[]},{"id":"a83710a05e3bfe0f","type":"api-call-service","z":"2a713bb46c924fff","name":"Light Blink","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"button","service":"press","areaId":[],"deviceId":[],"entityId":["button.vocolinc_rpl_188bce_identify"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1910,"y":250,"wires":[[]]},{"id":"35796d36535043a9","type":"comment","z":"2a713bb46c924fff","name":"Air Purifier","info":"","x":110,"y":240,"wires":[]},{"id":"24180fb52b3eeb3c","type":"server-state-changed","z":"2a713bb46c924fff","name":"Ikea Remote","server":"b7acd042.10f4c","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.ikea_remote_action","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":510,"wires":[["b69660da4e74ed7c"]]},{"id":"b69660da4e74ed7c","type":"switch","z":"2a713bb46c924fff","name":"Action","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"},{"t":"eq","v":"brightness_up_click","vt":"str"},{"t":"eq","v":"brightness_down_hold","vt":"str"},{"t":"eq","v":"brightness_up_hold","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"arrow_left_hold","vt":"str"},{"t":"eq","v":"arrow_right_hold","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":310,"y":510,"wires":[["fd693ed4cfc46016"],["0d575ff1a987ad76"],["0daaddf11f14c9b8"],["586d5b13baa00656"],[],[],[],[],[]]},{"id":"fd693ed4cfc46016","type":"api-call-service","z":"2a713bb46c924fff","name":"Boolean Office Mode","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"input_boolean","service":"toggle","areaId":[],"deviceId":[],"entityId":["input_boolean.office_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":420,"wires":[[]]},{"id":"586d5b13baa00656","type":"api-call-service","z":"2a713bb46c924fff","name":"Boolean Office Air Auto","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.auto_office_air_purifier"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":560,"wires":[[]]},{"id":"0daaddf11f14c9b8","type":"api-call-service","z":"2a713bb46c924fff","name":"Office Lamp toogle","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":["e9d8e08fd9a78fa95bbe91cfc04fdd07"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":520,"wires":[[]]},{"id":"7ed8a763c0272ba3","type":"server-events","z":"2a713bb46c924fff","name":"Shelly Office LONG","server":"b7acd042.10f4c","version":3,"exposeAsEntityConfig":"","eventType":"shelly.click","eventData":"{\"device_id\":\"a41e93d32aa3ede55e4da8b9e8c0646b\",\"device\":\"shelly1-E8DB84D45FD7\",\"channel\":1,\"click_type\":\"long\",\"generation\":1}","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":130,"y":420,"wires":[["fd693ed4cfc46016"]]},{"id":"f4d84e394278fc95","type":"trigger-state","z":"2a713bb46c924fff","name":"KT Motion","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.motion_sensor_kitchen","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":1480,"y":270,"wires":[["0b2afc64824cef95"],[]]},{"id":"ed483b5fabb7eb18","type":"trigger-state","z":"2a713bb46c924fff","name":"Hallway Motion","server":"b7acd042.10f4c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":["binary_sensor.motion_sensor_entrance","binary_sensor.motion_sensor_hallway_2_occupancy"],"entityIdType":"list","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":1500,"y":350,"wires":[["f5d6f23d1da18f11"],[]]},{"id":"0b2afc64824cef95","type":"api-call-service","z":"2a713bb46c924fff","name":"KT Motion alert","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"notify","service":"ngoc_devices","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Kitchen motion\",\"title\":\"Motion sensor\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1680,"y":270,"wires":[["a83710a05e3bfe0f"]]},{"id":"19ff2a781f3f5689","type":"api-call-service","z":"2a713bb46c924fff","name":"Turn On Mood Light","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.vocolinc_rpl_188bce_mood_light"],"data":"{\"color_name\":\"blue\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1740,"y":90,"wires":[[]]},{"id":"e4e7d373fb677cdf","type":"api-call-service","z":"2a713bb46c924fff","name":"Turn Off Mood Light","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.vocolinc_rpl_188bce_mood_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1980,"y":160,"wires":[[]]},{"id":"0d575ff1a987ad76","type":"api-call-service","z":"2a713bb46c924fff","name":"BRMA ON ","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"input_boolean","service":"toggle","areaId":[],"deviceId":[],"entityId":["input_boolean.brma"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":480,"wires":[[]]},{"id":"8f244b186251f64c","type":"switch","z":"2a713bb46c924fff","name":"Office Lidl Remote","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_step_down","vt":"str"},{"t":"eq","v":"brightness_step_up","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":1260,"y":570,"wires":[[],[],[],[],[],[]],"outputLabels":["on","off","brightness_move_down","brightness_move_up",null,null],"icon":"node-red-contrib-home-assistant-websocket/ha-events-state-changed.svg"},{"id":"4bfd61770991d0c5","type":"server-state-changed","z":"2a713bb46c924fff","name":"Office Lidl Remote","server":"b7acd042.10f4c","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.office_lidl_remote_action","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1030,"y":570,"wires":[["8f244b186251f64c"]]},{"id":"6053bd000d721927","type":"api-current-state","z":"2a713bb46c924fff","name":"Office Mode On? ","server":"b7acd042.10f4c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.office_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1510,"y":130,"wires":[["19ff2a781f3f5689"],["19ff2a781f3f5689"]]},{"id":"3752f01edf4fb2f9","type":"api-current-state","z":"2a713bb46c924fff","name":"Office Mode On? ","server":"b7acd042.10f4c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.office_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1510,"y":170,"wires":[["87fe3859e492e8a6"],["e4e7d373fb677cdf"]]},{"id":"87fe3859e492e8a6","type":"api-call-service","z":"2a713bb46c924fff","name":"Scene Office Mode","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.office_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1730,"y":160,"wires":[[]]},{"id":"4169fa0492a0ab97","type":"comment","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"Macbook Automation","info":"","x":160,"y":750,"wires":[]},{"id":"fe901a264e1b91dd","type":"api-call-service","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"Lock Screen mac","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"shell_command","service":"lock_mac","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":750,"wires":[["4cc176982b4b1d7e"]]},{"id":"77ac38a86d56e595","type":"api-call-service","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"iphone mini trigger","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone7","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"hi\",\"data\":{\"tag\":\"hiwakeup\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":170,"y":940,"wires":[["aa3a4acbbc029bdf"]]},{"id":"8ea636b4cae276ac","type":"comment","z":"2a713bb46c924fff","name":"Remotes","info":"","x":110,"y":370,"wires":[]},{"id":"1e17ec839aec2220","type":"comment","z":"2a713bb46c924fff","name":"Ripple Humidifier","info":"","x":1180,"y":400,"wires":[]},{"id":"9d3f6fe49293697f","type":"server-state-changed","z":"2a713bb46c924fff","name":"Ripple ON","server":"b7acd042.10f4c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"fan.vocolinc_rpl_188bce_ripple","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1160,"y":440,"wires":[["5a8d952b88750f89"],[]]},{"id":"5a8d952b88750f89","type":"api-call-service","z":"2a713bb46c924fff","name":"Turn Off","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"fan","service":"turn_off","areaId":[],"deviceId":[],"entityId":["fan.vocolinc_rpl_188bce_ripple"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1410,"y":440,"wires":[[]]},{"id":"aa3a4acbbc029bdf","type":"api-call-service","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"clear notification","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone7","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"clear_notification\",\"data\":{\"tag\":\"hiwakeup\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":190,"y":1030,"wires":[[]]},{"id":"c9020edeae447c95","type":"time-range-switch","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"8-23","lat":"50.0605","lon":"14.39936","startTime":"08:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":730,"y":810,"wires":[["fe901a264e1b91dd"],["9f08770d47530909"]]},{"id":"9f08770d47530909","type":"api-call-service","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"Sleep mac","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"shell_command","service":"sleep_mac","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":880,"wires":[["4cc176982b4b1d7e"]]},{"id":"4cc176982b4b1d7e","type":"api-current-state","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"Office Light on? ","server":"b7acd042.10f4c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.office_group","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1160,"y":810,"wires":[["fd7a66a893f190c5"],[]]},{"id":"fd7a66a893f190c5","type":"api-call-service","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"Turn Off Light","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.office_group"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":810,"wires":[[]]},{"id":"026a1b1227c51837","type":"api-call-service","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"Wifi alert","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_macbook_air","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ethernet disconnected\",\"title\":\" Macbook Connection\",\"data\":{\"tag\":\"macconection\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":1090,"wires":[[]]},{"id":"6be758496fec550c","type":"server-state-changed","z":"2a713bb46c924fff","d":true,"g":"c7be6c791180933c","name":"iphone not office","server":"b7acd042.10f4c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.esp_ngoc_iphone","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"office","ifStateType":"str","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"4","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":840,"wires":[["e105d334fa5d89ff"],["77ac38a86d56e595","5eb0a9b180d8759c"]]},{"id":"e105d334fa5d89ff","type":"api-current-state","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"Macbook on","server":"b7acd042.10f4c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.macbook_air_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":810,"wires":[["59d5361dd52c51f9"],[]]},{"id":"59d5361dd52c51f9","type":"api-current-state","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"Dual monitor","server":"b7acd042.10f4c","version":3,"outputs":2,"halt_if":"2","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.macbook_air_displays","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":820,"wires":[["c9020edeae447c95"],[]]},{"id":"51004fc9da9cd7c0","type":"api-call-service","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"Login Mac script","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"script","service":"macbook_air_login","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":970,"wires":[["988fd0e9963773a7"]]},{"id":"e401c025f7b240f3","type":"server-state-changed","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"Ethernet disconected","server":"b7acd042.10f4c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.macbook_air_connection_type","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"Ethernet","ifStateType":"str","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":1090,"wires":[["026a1b1227c51837"],[]]},{"id":"184e0a5e549e0d11","type":"time-range-switch","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"09:00:23:15","lat":"50.06049","lon":"14.39926","startTime":"09:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":590,"y":970,"wires":[["51004fc9da9cd7c0"],[]]},{"id":"988fd0e9963773a7","type":"time-range-switch","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"","lat":"50.06049","lon":"14.39926","startTime":"sunset","endTime":"nightEnd","startOffset":0,"endOffset":0,"x":1070,"y":970,"wires":[["7e9b6f891822d231"],[]]},{"id":"7e9b6f891822d231","type":"api-current-state","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"Office Light on? ","server":"b7acd042.10f4c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.office_group","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1280,"y":960,"wires":[[],["ef1be4806dfbb5bc"]]},{"id":"ef1be4806dfbb5bc","type":"api-call-service","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"Boolean Office Mode","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"input_boolean","service":"toggle","areaId":[],"deviceId":[],"entityId":["input_boolean.office_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":960,"wires":[[]]},{"id":"5eb0a9b180d8759c","type":"api-current-state","z":"2a713bb46c924fff","g":"c7be6c791180933c","name":"Macbook off","server":"b7acd042.10f4c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.macbook_air_active","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":910,"wires":[["184e0a5e549e0d11"],[]]},{"id":"db28648a68cba182","type":"server-state-changed","z":"2a713bb46c924fff","name":"Boolean Air Purfier","server":"b7acd042.10f4c","version":5,"outputs":1,"exposeAsEntityConfig":"bf41230fd438a766","entityId":"input_boolean.auto_office_air_purifier","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":280,"wires":[["8f0b7a9eeaa116e5"]]},{"id":"8eb4b859dbfc3198","type":"server-state-changed","z":"2a713bb46c924fff","name":"Ripple ON","server":"b7acd042.10f4c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"fan.bedroom_ripple_ripple","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1160,"y":490,"wires":[["b933c73aebd1e103"],[]]},{"id":"b933c73aebd1e103","type":"api-call-service","z":"2a713bb46c924fff","name":"Turn Off","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"fan","service":"turn_off","areaId":[],"deviceId":[],"entityId":["fan.bedroom_ripple_ripple"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1410,"y":500,"wires":[[]]},{"id":"eacdc375eb4de995","type":"server-state-changed","z":"1f04fadd7ecc56e6","name":"Currently Playing Changed","server":"b7acd042.10f4c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.currently_playing","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"playing","ifStateType":"re","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":110,"wires":[["9a76bf988f90900d"],[]]},{"id":"bd9143fe7b314177","type":"function","z":"1f04fadd7ecc56e6","name":"Format Album Art URL","func":"msg.payload = 'http://192.168.0.73:8123' + msg.data.new_state.attributes.entity_picture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":50,"wires":[["c309c0f5a752ecdd"]]},{"id":"7882f420860746b9","type":"function","z":"1f04fadd7ecc56e6","name":"Colors","func":"var msg1 = { payload: msg.payload.Vibrant.rgb[0] + ',' + msg.payload.Vibrant.rgb[1] + ',' + msg.payload.Vibrant.rgb[2] };\nvar msg2 = { payload: msg.payload.DarkVibrant.rgb[0] + ',' + msg.payload.DarkVibrant.rgb[1] + ',' + msg.payload.DarkVibrant.rgb[2] };\nvar msg3 = { payload: msg.payload.LightVibrant.rgb[0] + ',' + msg.payload.LightVibrant.rgb[1] + ',' + msg.payload.LightVibrant.rgb[2] };\nvar msg4 = { payload: msg.payload.Muted.rgb[0] + ',' + msg.payload.Muted.rgb[1] + ',' + msg.payload.Muted.rgb[2] };\nvar msg5 = { payload: msg.payload.DarkMuted.rgb[0] + ',' + msg.payload.DarkMuted.rgb[1] + ',' + msg.payload.DarkMuted.rgb[2] };\nvar msg6 = { payload: msg.payload.LightMuted.rgb[0] + ',' + msg.payload.LightMuted.rgb[1] + ',' + msg.payload.LightMuted.rgb[2] };\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":90,"wires":[["cf6ff890cadf96ef"],["63e066959f858c54"],["6efb0dc3953b3240"],["5806b87267d02bc3"],["77b1979bc5ad11f3"],["e5b91489990a01ea"]]},{"id":"cf6ff890cadf96ef","type":"ha-sensor","z":"1f04fadd7ecc56e6","name":"Vibrant Color","entityConfig":"dfb12e11b7a6e846","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1360,"y":60,"wires":[[]]},{"id":"63e066959f858c54","type":"ha-sensor","z":"1f04fadd7ecc56e6","name":"Dark Vibrant Color","entityConfig":"3e58f341fe905599","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1380,"y":110,"wires":[[]]},{"id":"6efb0dc3953b3240","type":"ha-sensor","z":"1f04fadd7ecc56e6","name":"Light Vibrant Color","entityConfig":"70d8791a24738ee6","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1380,"y":160,"wires":[[]]},{"id":"5806b87267d02bc3","type":"ha-sensor","z":"1f04fadd7ecc56e6","name":"Muted Color","entityConfig":"be0a1e0059e1713e","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1360,"y":210,"wires":[[]]},{"id":"77b1979bc5ad11f3","type":"ha-sensor","z":"1f04fadd7ecc56e6","name":"Dark Muted Color","entityConfig":"90991e9dde96cec6","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1380,"y":260,"wires":[[]]},{"id":"e5b91489990a01ea","type":"ha-sensor","z":"1f04fadd7ecc56e6","name":"Light Muted Color","entityConfig":"13f67da67efbf0ae","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1380,"y":310,"wires":[[]]},{"id":"c309c0f5a752ecdd","type":"vibrant","z":"1f04fadd7ecc56e6","name":"Extract Album Art Color","x":910,"y":150,"wires":[["7882f420860746b9"]]},{"id":"9a76bf988f90900d","type":"switch","z":"1f04fadd7ecc56e6","name":"","property":"data.new_state.attributes.active_child","propertyType":"msg","rules":[{"t":"eq","v":"media_player.spotify","vt":"str"},{"t":"neq","v":"media_player.living_room_tv","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":110,"wires":[["bd9143fe7b314177"],["4423075c7a23222b"]]},{"id":"4423075c7a23222b","type":"function","z":"1f04fadd7ecc56e6","name":"Format Album Art URL","func":"msg.payload = msg.data.new_state.attributes.entity_picture\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":220,"wires":[["c309c0f5a752ecdd"]]},{"id":"a25258bd6a12d024","type":"subflow:ce64fcf0d0091d1f","z":"00b5544a83da2aa2","name":"","x":120,"y":310,"wires":[[],[],["caad82347bb3cd55"],["1b4bf9f7916ce51a"],["c89a96a30d8cf279"],[],[],["f8f0eeb6a119f885"],["3ec0f73bb7b15635"],["02da49fabc2be4d2"],[],[],["9458d62692500cd9"],["51f83682935d7946"],["98c833a05e4b3dfd"],[],[],[],[],[]]},{"id":"09c8c4c101af09f0","type":"server-events","z":"00b5544a83da2aa2","name":"Shelly i4","server":"b7acd042.10f4c","version":3,"exposeAsEntityConfig":"","eventType":"shelly.click","eventData":"{\"device_id\":\"b13627101f69d3bbda7adf3c011da6a4\",\"device\":\"shellyplusi4-083af2011014\"}","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"channel","propertyType":"msg","value":"$outputData(\"eventData\").event.channel","valueType":"jsonata"}],"event_type":"","x":130,"y":100,"wires":[["a25258bd6a12d024"]]},{"id":"40fc2272e4666301","type":"comment","z":"00b5544a83da2aa2","name":"UP LEFT","info":"","x":800,"y":90,"wires":[]},{"id":"1b4bf9f7916ce51a","type":"api-call-service","z":"00b5544a83da2aa2","name":"Cozy light toggle","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"input_boolean","service":"toggle","areaId":[],"deviceId":[],"entityId":["input_boolean.cozy_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":210,"wires":[[]]},{"id":"c89a96a30d8cf279","type":"api-call-service","z":"00b5544a83da2aa2","name":"Find My iPhone","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"automation","service":"trigger","areaId":[],"deviceId":[],"entityId":["automation.find_my_ip"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":280,"wires":[[]]},{"id":"caad82347bb3cd55","type":"api-call-service","z":"00b5544a83da2aa2","name":"Living Room Ceiling Light On/Off","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":["ac96f1242b62d164925e1c6b189024fc"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":160,"wires":[[]]},{"id":"9458d62692500cd9","type":"link out","z":"00b5544a83da2aa2","name":"B3 Single Click","mode":"link","links":["8165555d1408f61b"],"x":320,"y":340,"wires":[],"icon":"node-red-dashboard/ui_button.png","l":true},{"id":"51f83682935d7946","type":"link out","z":"00b5544a83da2aa2","name":"B3 Double Click","mode":"link","links":["fba0d1a3ae5faeda"],"x":320,"y":380,"wires":[],"icon":"node-red-dashboard/ui_button.png","l":true},{"id":"98c833a05e4b3dfd","type":"link out","z":"00b5544a83da2aa2","name":"B3 Long Press","mode":"link","links":["49900f46fc3a337f"],"x":320,"y":420,"wires":[],"icon":"node-red-dashboard/ui_button.png","l":true},{"id":"12ec6a8e56d341ee","type":"comment","z":"00b5544a83da2aa2","name":"UP RIGHT","info":"","x":300,"y":300,"wires":[]},{"id":"e4559f4b8250f96f","type":"comment","z":"00b5544a83da2aa2","name":"BOTTOM RIGHT","info":"","x":350,"y":90,"wires":[]},{"id":"f8f0eeb6a119f885","type":"api-call-service","z":"00b5544a83da2aa2","name":"Living Room Cover OPEN","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.living_room_cover"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":384,"y":126,"wires":[[]]},{"id":"3ec0f73bb7b15635","type":"api-call-service","z":"00b5544a83da2aa2","name":"Living Room Cover STOP","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"cover","service":"stop_cover","areaId":[],"deviceId":[],"entityId":["cover.living_room_cover"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":180,"wires":[[]]},{"id":"02da49fabc2be4d2","type":"api-call-service","z":"00b5544a83da2aa2","name":"Living Room Cover CLOSE","server":"b7acd042.10f4c","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.living_room_cover"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":220,"wires":[[]]}]